.tutor-signup-div {
  background-color: rgba(102, 81, 145, 0.2);
  background-image: url('../../assets/images/signup.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
