$dark_green: #003f5c;
$dark_blue: #2f4b7c;
$dark_purple: #665191;
$light_purple: #a05195;
$dark_pink: #d45087;
$light_pink: #f95d6a;
$orange: #ff7c43;
$yellow: #ffa600;

:export {
  darkGreen: $dark_green;
  darkBlue: $dark_blue;
  darkPurple: $dark_purple;
  lightPurple: $light_purple;
  darkPink: $dark_pink;
  lightPink: $light_pink;
  orange: $orange;
  yellow: $yellow;
}
