$dark_green: #003f5c;
$dark_blue: #2f4b7c;
$dark_purple: #665191;
$light_purple: #a05195;
$dark_pink: #d45087;
$light_pink: #f95d6a;
$orange: #ff7c43;
$yellow: #ffa600;

:export {
  dark_green: $dark_green;
  dark_blue: $dark_blue;
  dark_purple: $dark_purple;
  light_purple: $light_purple;
  dark_pink: $dark_pink;
  light_pink: $light_pink;
  orange: $orange;
  yellow: $yellow;
}
